<div class="flex h-14 shadow-lg shadow-slate-400 bg-slate-500 items-center justify-center sticky top-[141px] md:top-[97px] space-x-2">
    <span class="text-2xl font-bold text-slate-800 cursor-default">
      <ng-icon  name="heroUserSolid" class="pt-1"></ng-icon>
      {{ employee.lastName }} {{ employee.firstName | uppercase }}
    </span>
    <span class="block text-md font-bold text-slate-400 cursor-default">
      ({{ employee.email }})
    </span>
</div>

<div class="max-w-7xl grid grid-cols-3 pt-[40px] border-t border-slate-800 gap-y-0">
  <div class="pr-4 space-y-[65px] text-end text-slate-500">
    <span class="block pt-2">Genre </span>
    <span class="block">Contrat </span>
    <span class="block">Salaire </span>
    <span class="block">Date début </span>
    <span class="block">Date de Naissance </span>
  </div>
  <div class="space-y-[45px]">
    <span class="block text-center pl-5 w-full rounded-full border border-slate-800 px-5 py-2">{{ employee.genre==='Mr'?'Homme':'Femme' }}</span>
    <span class="block text-center pl-5 w-full rounded-full border border-slate-800 px-5 py-2">{{ employee.type }}</span>
    <span class="block text-center pl-5 w-full rounded-full border border-slate-800 px-5 py-2">{{ employee.salary | number }} FCFA</span>
    <span class="block text-center pl-5 w-full rounded-full border border-slate-800 px-5 py-2">{{ employee.startWork | date:'dd / MM / y à HH:mm' }}</span>
    <span class="block text-center pl-5 w-full rounded-full border border-slate-800 px-5 py-2">{{ employee.birthDate | date:'dd / MM / y' }}</span>
  </div>
  <div class="px-10">
    <img src="assets/user-default-avatar.png" class="block shrink-0 border border-2 border-slate-800 rounded-lg">
    <div class="flex space-x-3 justify-center mx-auto mt-5">
      <button class="bg-sky-600 shadow-lg shadow-sky-300 px-4 py-2 rounded-lg hover:bg-sky-200">Modifier</button>
      <button class="bg-red-500 shadow-lg shadow-red-300 px-4 py-2 rounded-lg hover:bg-red-200">Supprimer</button>
    </div>
  </div>
</div>
